html {
  text-align: center;
  background-color: forestgreen;
}
#dealer-header, #player-header, #hit-button, #pass-button{
  display: none;
}
.wrapper{
  margin: auto;
  width: fit-content;
  text-align: center;
}
button {
  height: 50px;
  width: fit-content;
  padding:10px 30px 10px;
  font-size: 110%;
  border-radius: 10px
}
.card {
  background-color: white;
  border-radius: 4%;
  height: 100%;
  width: 100px;
}
.cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.back {
  height: 145px;
  width: 100px;
}
.hidden {
  display: none;
}
label {
  align-items: center;
  display: flex;
}
.bank {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 1rem;
}

/* buttons */
#button-container {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 3rem;
}
#deal-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
#bet {
  border-radius: 20px;
}


#amount, #bet-label{
  font-size: 1.2rem;
}

/* #player-header, #dealer-header {
  display: none;
} */


/* #button-container {
  position: absolute;
  right: 450px;
  bottom: 80px;
} */
/* #next-hand-button {
  position: absolute;
  left: 450px;
  bottom: 80px;
} */

/* media screen */

@media screen and (max-width: 768px) {
  .card{
    width: 100px;
    height: auto;
  }
  .back {
    width: 100px;
    height: 145px;
  }
}